* {
    margin: 0;
    padding: 0;
}

header {
    width:100%;
    height: 200px;
}

.appContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 800px;
    height:auto;
    /* justify-content:space-between; */
}

.imageContainer > figure {
    display: flex;
    width: 250px;
    height: 300px;
    margin: 20px 0px 20px 0px;
    background-color:khaki;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
